MISP_API_KEY=your-api-key-here
MISP_URL=https://your-misp-instance
# true/false or a path to a CA bundle
MISP_VERIFY=true

# Actions lets analysts report sighting back to MISP, enabled by default
ACTIONS_ENABLED=true

# Provides a name for the source of the reported sighting which can be viewed in MISP
SIGHTING_SOURCE=Clue
# True to exclude decayed elements from queries
EXCLUDE_DECAYED=true

# Allow tags filters out tags from annotation result via an allow list
# Override the default allow list
#ALLOW_TAGS="misp:threat-level,cert-ist:threat_targeted_system"
# Append to default allow list
#ALLOW_TAGS_EXTRA="cert-ist:threat_targeted_system"
